body {
  background-color: #f1f3f6;
  padding: 20px;
}

h2 {
  color: #7a7a7a;
  border-left: solid 5px #e4e5e8;
  padding-left: 10px;
  text-align: left;
}

h3 {
  text-align: left;
  color: #7a7a7a;
}

.container {
  border: solid2 px #e8e8e8;
  background-color: #ffffff;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.btn {
  padding: 15px 30px;
  background-color: #5372f9;
  border: 0px;
  border-radius: 5px;
  color: #f7f9ff;
  font-size: large;
}

.invoice-no {
  color: #5e7cf9;
}

.header-text {
  color: #787f93;
}

.main-text {
  color: #878787;
}
